<div class="page-header">
    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#trafficFormModal" ng-click="createForm()"> <i class="fa fa-plus-circle fa-fw"></i> Add Traffic </button>
    <h1>Traffic(s)</h1>
</div>

<table class="table table-bordered bg-white" ng-show="trafficList.length > 0">
    <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Test Environment</th>
        <th class="col-md-1">Test Type</th>
        <th class="col-md-2">Test Methods</th>
        <th class="col-md-1">IPERF Duration</th>
        <th class="col-md-1"># Workers</th>
        <th class="col-md-1">Allowed Delta %</th>
        <th class="col-md-1">Test Result Path</th>
        <th class="col-md-1">Actions</th>
    </tr>
    <tr ng-repeat="cloudTraffic in trafficList">
        <td><a href="#/cloud/{$ cloud.id $}/traffic/{$ cloudTraffic.id $}/" class="text-primary">{$ cloudTraffic.name | limitTo: 20 $}</a></td>
        <td>{$ cloudTraffic.test_environment $}</td>
        <td>{$ cloudTraffic.test_type $}</td>
        <td>
            <span class="label label-info" ng-if="cloudTraffic.test_method.tcp">TCP</span>
            <span class="label label-info" ng-if="cloudTraffic.test_method.udp">UDP</span>
            <span class="label label-info" ng-if="cloudTraffic.test_method.icmp">ICMP</span>
        </td>
        <td>{$ cloudTraffic.iperf_duration $} sec</td>
        <td>{$ cloudTraffic.number_of_workers $}</td>
        <td>{$ cloudTraffic.allowed_delta_percentage $} %</td>
        <td>{$ cloudTraffic.test_result_path $}</td>
        <td class="text-center">
            <a href class="text-info" data-toggle="modal" data-target="#trafficFormModal" ng-click="updateForm($index)"> <i class="fa fa-edit fa-fw"></i></a>
            <a href class="text-danger" ng-click="delete($index)"><i class="fa fa-trash-o fa-fw"></i></a></span>
        </td>
    </tr>
</table>

<p ng-hide="trafficList.length > 0">No data found.</p>


<ng-include src="'/static/partials/cloud/traffic/traffic_form.html'"></ng-include>







