<!-- create/update traffic modal -->
<div class="modal fade" id="trafficFormModal" tabindex="-1" role="dialog" aria-labelledby="trafficFormModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="trafficFormModalLabel">{$ event $} Traffic</h4>
            </div>
            <div class="modal-body">
                <form name="cloudTrafficForm">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label><span> * </span>
                            <input type="text" class="form-control" id="name" ng-model="traffic.name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Test Environment</label>
                            <select class="form-control" ng-model="traffic.test_environment">
                                <option value="dev">Dev/Testing</option>
                                <option value="prod">Production</option>
                             </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Remote Username</label>
                            <input type="text" class="form-control" id="remote_user" ng-model="traffic.remote_user" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Remote Password</label>
                            <input type="password" class="form-control" id="remote_pass" ng-model="traffic.remote_pass" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Allowed Delta Percentage</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="allowed_delta_percentage"
                                       min="1"
                                       ng-model="traffic.allowed_delta_percentage"
                                       aria-describedby="allowed-delta-percentage"
                                       required />
                                <span class="input-group-addon" id="allowed-delta-percentage">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>IPERF Duration</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="iperf_duration"
                                       min="1"
                                       ng-model="traffic.iperf_duration"
                                       aria-describedby="iperf-duration"
                                       required />
                                <span class="input-group-addon" id="iperf-duration">sec</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Number Of Workers</label>
                            <input type="number" class="form-control" id="number_of_workers"
                                   min="1"
                                   ng-model="traffic.number_of_workers"
                                   required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Test Result Path</label>
                            <input type="text" class="form-control" id="test_result_path" ng-model="traffic.test_result_path" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Test Method</label>
                            <br>
                            <div class="btn-group btn-group-justified">
                                <label class="btn btn-default" ng-model="traffic.test_method.icmp" uib-btn-checkbox>ICMP</label>
                                <label class="btn btn-default" ng-model="traffic.test_method.tcp" uib-btn-checkbox>TCP</label>
                                <label class="btn btn-default" ng-model="traffic.test_method.udp" uib-btn-checkbox>UDP</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>UDP Datagram Size</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="udp_datagram_size"
                                       min="1"
                                       ng-model="traffic.udp_datagram_size"
                                       ng-required="traffic.test_method.udp"
                                       ng-disabled="!traffic.test_method.udp"/>
                                <span class="input-group-addon">Mb</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tenant Type</label>
                            <!-- Todo: Enable when other features are developed -->
                            <select class="form-control" ng-model="traffic.test_type" ng-disabled="true">
                                <option value="all">All</option>
                                <option value="intra-tenant">Intra Tenant</option>
                                <option value="inter-tenant">Inter Tenant</option>
                                <option value="south-north">South to North</option>
                                <option value="north-south">North to South</option>
                             </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SSH Gateway</label>
                            <input type="text" class="form-control" id="ssh_gateway" ng-model="traffic.ssh_gateway" required>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- end: create/update traffic modal -->